*~
*.in
*.la
*.lo
*.o
*.deps/
*.libs/
*.tar.gz
*.stamp
*.bak
INSTALL
Makefile
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
osmgpsmap.pc
python/autom4te.cache/
python/build/
python/configure
python/osmgpsmap.c
python/omf.make
python/xmldocs.make
omf.make
m4/gtk-doc.m4
gtk-doc.make
xmldocs.make
docs/reference/version.xml
src/Makefile
src/mapviewer
stamp-h1
ChangeLog
.project
.cproject
.autotools
.pydevproject
